.about {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width:$width-tablet+px){
    padding-top: 98px;
    padding-bottom: 212px;
  }
}
.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center;
  @media (min-width: $width-tablet+px) {
    padding-left: 20px;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width:$width-desktop+px){
    padding-left: -80px;
    gap: 100px;
  }
}
.about-content__item-title {
  margin-bottom: 58px;
  max-width: 360px;
  @media (min-width: $width-tablet+px) {
    margin-left: 20px;
  }
  @media (min-width:$width-desktop+px){
    margin-left: -80px;
  }
}
.about-content__item-title-text {
  font-size: 36px;
  font-size: clamp(22px, 4vw, 36px);
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #316099;
  @media (min-width: $width-tablet+px) {
    line-height: 46px;
  }
}
