.about {
  padding-top: 98px;
  padding-bottom: 212px;
}
.about-content {
  padding-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.about-content__item-title {
  margin-left: -80px;
  margin-bottom: 58px;
  max-width: 360px;
}
.about-content__item-title-text {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}
