.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #5a98d0;
  border-radius: 100px 0px 0px 0px;
  @media (min-width: $width-mobile+px) {
    border-radius: 200px 0px 0px 0px;
  }
  @media (min-width: $width-tablet+px) {
    padding-top: 96px;
    padding-bottom: 125px;
  }
}
.clients__header {
  text-align: center;
  margin-bottom: 60px;
  @media (min-width: $width-tablet+px) {
    margin-bottom: 123px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.clients__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  flex: 0 0 225px;
  @media (min-width: $width-tablet+px) {
    // margin-right: 97px;
  }
}
.clients__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;

  margin: 0;
  @media (min-width: $width-desktop+px) {
    max-width: 540px;
  }
}
.clients-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
}
.clients-list__item {
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  border: 1px solid #ffffff;
  @media (min-width: $width-desktop+px) {
    border: none;
    &:first-child {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(2) {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(3) {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(4) {
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(5) {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(6) {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &:nth-child(7) {
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
  }
}
.clients-list__item--more {
  text-transform: capitalize;
  background-color: #4e86bb;
  &:hover {
    background-color: var(--main-color);
    cursor: pointer;
  }
}
