.contacs {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: $width-mobile+px) {
    padding-top: 57px;
    padding-bottom: 96px;
  }
}
.contact-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 30px;
  @media (min-width: $max-width+px) {
    grid-template-columns: 300px 1fr;
    column-gap: 88px;
    row-gap: 96px;
  }
}
.info-column__img-wrapper {
  width: 100%;
  height: 181px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
.info-column__item {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.info-column__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 24px;
}
.info-column__desc {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  opacity: 0.6;
  margin-bottom: 16px;
}
.info-column__desc--phone {
  padding-left: 40px;
  background: url("../img/icon-phone.svg") left center no-repeat;
  a {
    color: var(--main-color);
    text-decoration: none;
  }
}
.info-column__desc--www {
  padding-left: 40px;
  background: url("../img/icon-globe.svg") left center no-repeat;
}
.info-column__desc--mail {
  padding-left: 40px;
  background: url("../img/icon-mail.svg") left center no-repeat;
}
.contact-form {
  @media (max-width: $width-tablet+px) {
    order: -1;
  }
}
.contact-form__body {
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 15px;
  @media (min-width: $width-mobile+px) {
    padding: 56px;
  }
}
.contact-form__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 15px;
  @media (min-width: $width-mobile+px) {
    margin-bottom: 48px;
  }
}
.contact-form__label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  opacity: 0.8;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.contact-form__input {
  border: 1px solid rgba($color: #356ead, $alpha: 0.4);
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: 15px;
  @media (min-width: $width-mobile+px) {
    margin-bottom: 32px;
    padding: 21px 42px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2;
  }
}
.contact-form__comment {
  resize: none;
  border: 1px solid rgba($color: #356ead, $alpha: 0.4);
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  padding: 21px 42px;
  min-height: 144px;
  margin-bottom: 20px;
  @media (min-width: $width-mobile+px) {
    margin-bottom: 72px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2;
  }
}
.contact-form__btn {
  background: #5a98d0;
  width: 100%;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  min-height: 50px;
  text-transform: uppercase;
  @media (min-width: $width-mobile+px) {
    min-height: 72px;
  }
}

.contact-content__map-wrapper {
  grid-column: 1/-1;
  max-width: 100%;
  position: relative;
  height: 320px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
  @media (min-width: $width-tablet+px) {
    height: 480px;
  }
}
