.feedback-done {
  font-family: "Gilroy", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #1f3f68, $alpha: 0.2);
  z-index: -1;
  display: grid;
  grid-template-columns: minmax(300px, 540px);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease 0s;
  &--open {
    opacity: 1;
    visibility: visible;
    z-index: 30;
  }
}
.feedback-done__body {
  background: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 50px 0 white;
}
.feedback-done__title {
  text-align: center;
  padding: 50px;
  color: white;
  font-size: clamp(30px, 4vw, 46px);
}
