.interesed {
  background: #5a98d0;
  position: relative;
  overflow: hidden;
  padding-top: 91px;
}

.interesed__container {
  display: grid;

  grid-template-columns: 1fr;
  align-items: center;
  gap: 32px;
  padding-bottom: 96px;
  position: relative;
  z-index: 2;
  @media (min-width: $width-tablet+px) {
    margin-right: auto;
    margin-right: 150px;
  }
  @media (min-width: $width-tablet+px) {
    grid-template-columns: 1fr 1fr;
  }
  // @media (max-width: $width-desktop+px) {
  //   border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  // }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 0;
    width: 300%;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    @media (max-width: $width-desktop+px) {
      width: 80%;
      left: 0;
    }
  }
}
.interesed__background {
  background: #316099;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 0px 100px 0px 0px;
  @media (min-width: $width-mobile+px) {
    left: -96px;
    border-radius: 0px 200px 0px 0px;
  }
}
.interesed__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.interesed__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}
.interesed__btn {
  width: 220px;
  min-height: 56px;
  background: #5a98d0;
  justify-self: center;
  align-self: center;
  @media (min-width: $width-tablet+px) {
    grid-row: 1/3;
    grid-column: -1/-2;
  }
}

.contact-page .interesed {
  background: #ffffff;
}
