.promo {
  background: url("../img/illustration.png") no-repeat;
  background-position: top right;
}
.promo__container-fluid {
  background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.container-fluid {
}
.promo__container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: $width-tablet+px) {
    padding-top: 101px;
    padding-bottom: 190px;
  }
}
.promo__content {
  max-width: 600px;
  margin-right: auto;
  backdrop-filter: blur(2px);
  @media (min-width: $width-tablet+px) {
    backdrop-filter: none;
  }
}
.promo__title {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 32px;
}
.promo__text {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--main-color);
  margin-bottom: 71px;
  font-size: clamp(16px, 4vh, 20px);
  @media (min-width: $width-tablet+px) {
    color: var(--main-color);
    opacity: 0.6;
    font-size: 16px;
  }
}
.promo__btn {
  width: 220px;
  height: 56px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
