.social-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: coral;
}
