/* шрифты */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), url("../fonts/Gilroy-Thin.woff2") format("woff2"),
    url("../fonts/Gilroy-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}
