@charset "UTF-8";
:root {
  --main-color: #1f3f68; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%; }

body {
  font-family: "Gilroy", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Gilroy", Arial, sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/* шрифты */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap; }

.container {
  box-sizing: border-box;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }
  @media (min-width: 374.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 100%; } }
  @media (min-width: 767.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 940px;
      padding-left: 0;
      padding-right: 0; } }

.container-fluid {
  min-width: 320px;
  max-width: 100%; }

.main-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0; }
  .main-btn:hover {
    background-image: var(--btn-gradient-hover); }
  .main-btn:active {
    box-shadow: var(--btn-shadow-active);
    background-image: var(--btn-gradient-active); }
  .main-btn:focus, .main-btn:focus-within {
    outline: none;
    border: 2px solid var(--input-focus-border); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content; }

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 10px; }
  .main-btn:hover {
    background-color: var(--main-color); }

.header__container {
  position: relative;
  display: flex;
  padding-top: 40px; }
  .header__container.container {
    max-width: 1200px; }

.header__nav {
  text-align: center;
  position: relative;
  width: 100%;
  height: 35px; }

.header__nav-toggle {
  position: relative;
  z-index: 30;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: transparent; }
  .header__nav-toggle[aria-expanded="true"] {
    position: fixed;
    top: 40px;
    right: 80px; }

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffe8;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0.2s; }

.nav-menu.active {
  opacity: 1;
  visibility: visible;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transform: translate(0); }
  @media (max-width: 767.98px) {
    .nav-menu.active {
      flex-direction: column; } }

.nav-menu__link {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .nav-menu__link--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: var(--main-color); }

.promo {
  background: url("../img/illustration.png") no-repeat;
  background-position: top right; }

.promo__container-fluid {
  background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%); }

.promo__container {
  padding-top: 101px;
  padding-bottom: 190px; }

.promo__content {
  max-width: 600px;
  margin-right: auto; }

.promo__title {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 32px; }

.promo__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--main-color);
  opacity: 0.6;
  margin-bottom: 71px; }

.promo__btn {
  width: 220px;
  height: 56px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2); }

.about {
  padding-top: 98px;
  padding-bottom: 212px; }

.about-content {
  padding-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px; }

.about-content__item-title {
  margin-left: -80px;
  margin-bottom: 58px;
  max-width: 360px; }

.about-content__item-title-text {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099; }

.item-card {
  grid-row: span 2;
  width: 380px;
  height: 525px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 48px; }
  @media (min-width: 374.98px) {
    .item-card:hover {
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.4); }
      .item-card:hover .item-card__img-wrapper img {
        transform: scale(1.1); } }

.item-card__img-wrapper {
  position: relative;
  width: 100%;
  height: 132px;
  margin-bottom: 51px; }
  .item-card__img-wrapper img {
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain; }
  .item-card__img-wrapper--interest {
    height: 197px;
    margin-top: -60px; }

.item-card__heading {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 16px; }

.item-card__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 32px; }

.item-card__link-more {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  padding-right: 4px; }
  .item-card__link-more svg {
    transition: all 0.3s ease 0s; }
  .item-card__link-more:hover svg, .item-card__link-more:active svg {
    transform: translateX(10px); }

.clients {
  padding-top: 96px;
  padding-bottom: 125px;
  background: #5a98d0;
  border-radius: 200px 0px 0px 0px; }

.clients__header {
  display: flex;
  align-items: center;
  margin-bottom: 123px; }

.clients__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-right: 97px;
  flex: 0 0 225px; }

.clients__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  max-width: 540px; }

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(235px, 1fr)); }

.clients-list__item {
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px; }
  .clients-list__item:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(3) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(4) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(5) {
    border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(6) {
    border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .clients-list__item:nth-child(7) {
    border-right: 1px solid rgba(255, 255, 255, 0.4); }

.clients-list__item--more {
  text-transform: capitalize;
  background-color: #4e86bb; }
  .clients-list__item--more:hover {
    background-color: var(--main-color);
    cursor: pointer; }

.contact {
  background: #5a98d0;
  position: relative;
  overflow: hidden;
  padding-top: 91px; }

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
  padding-bottom: 96px;
  position: relative;
  z-index: 2; }
  .contact__container:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 1px;
    width: 300%;
    background-color: rgba(255, 255, 255, 0.4); }

.contact__background {
  background: #316099;
  position: absolute;
  top: 0;
  left: -96px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 0px 200px 0px 0px; }

.contact__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff; }

.contact__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6; }

.contact__btn {
  width: 220px;
  min-height: 56px;
  background: #5a98d0;
  grid-row: 1/3;
  grid-column: -1/-2;
  justify-self: center;
  align-self: center; }

.footer {
  background: #5a98d0;
  position: relative;
  overflow: hidden;
  padding-top: 96px;
  padding-bottom: 64px; }

.footer__background {
  background: #316099;
  position: absolute;
  top: 0;
  left: -96px;
  width: 100%;
  height: 100%;
  z-index: 1; }

.footer__container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 300px -webkit-max-content -webkit-max-content;
  grid-template-columns: 300px max-content max-content;
  gap: 77px; }

.footer-contacts {
  margin-right: 23px; }

.footer-contacts__logo {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-bottom: 33px; }

.footer-contacts__menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px; }

.footer-contacts__item-title {
  flex: 0 1 10%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: bold; }

.footer-contacts__item-desc {
  flex: 1 1 90%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 400; }

.footer__manu-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 34px; }

.footer__menu-item {
  margin-bottom: 18px; }
  .footer__menu-item:last-child {
    margin-bottom: 0; }

.footer__menu-link {
  color: #ffffff;
  font-weight: 400;
  font-family: "Gilroy", "Arial", sans-serif; }
