@charset "UTF-8";
:root {
  --main-color: #1f3f68; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%; }

body {
  font-family: "Gilroy", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Gilroy", Arial, sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/* шрифты */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap; }

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }
  @media (min-width: 374.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 100%; } }
  @media (min-width: 767.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 940px; } }
  @media (min-width: 1366px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

.container-fluid {
  max-width: 100%; }

.main-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0; }
  .main-btn:hover {
    background-image: var(--btn-gradient-hover); }
  .main-btn:active {
    box-shadow: var(--btn-shadow-active);
    background-image: var(--btn-gradient-active); }
  .main-btn:focus, .main-btn:focus-within {
    outline: none;
    border: 2px solid var(--input-focus-border); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.lock {
  overflow: hidden; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content; }

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 10px; }
  .main-btn:hover {
    background-color: var(--main-color); }

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px); } }

.header__container {
  position: relative;
  display: flex;
  padding-top: 40px; }
  .header__container.container {
    max-width: 1200px; }

.header__nav {
  text-align: center;
  position: relative;
  width: 100%;
  height: 35px; }

.header__nav-toggle {
  position: relative;
  z-index: 30;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: transparent; }

.nav-menu {
  background: #ffffe8;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0.2s; }

.nav-menu.active {
  opacity: 1;
  visibility: visible;
  position: fixed;
  max-width: 100%;
  min-height: 100%;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transform: translate(0);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center; }

.nav-menu__link {
  color: black;
  display: flex;
  padding: 8px 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px; }

.contact-page .header {
  margin-bottom: 41px; }

.promo {
  background: url("../img/illustration.png") no-repeat;
  background-position: top right; }

.promo__container-fluid {
  background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%); }

.promo__container {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 767.98px) {
    .promo__container {
      padding-top: 101px;
      padding-bottom: 190px; } }

.promo__content {
  max-width: 600px;
  margin-right: auto;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  text-align: center; }
  @media (min-width: 767.98px) {
    .promo__content {
      text-align: left;
      -webkit-backdrop-filter: none;
              backdrop-filter: none; } }

.promo__title {
  font-size: 64px;
  font-size: clamp(28px, 4vw, 64px);
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 32px; }
  @media (min-width: 767.98px) {
    .promo__title {
      line-height: 74px; } }

.promo__text {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--main-color);
  margin-bottom: 71px;
  font-size: clamp(16px, 4vh, 20px); }
  @media (min-width: 767.98px) {
    .promo__text {
      color: var(--main-color);
      opacity: 0.6;
      font-size: 16px; } }

.promo__btn {
  width: 220px;
  height: 56px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  margin: 0 auto; }
  @media (min-width: 767.98px) {
    .promo__btn {
      margin: 0; } }

.about {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 767.98px) {
    .about {
      padding-top: 98px;
      padding-bottom: 212px; } }

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center; }
  @media (min-width: 767.98px) {
    .about-content {
      padding-left: 20px;
      gap: 50px;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1366px) {
    .about-content {
      padding-left: -80px;
      gap: 100px; } }

.about-content__item-title {
  margin-bottom: 58px;
  max-width: 360px; }
  @media (min-width: 767.98px) {
    .about-content__item-title {
      margin-left: 20px; } }
  @media (min-width: 1366px) {
    .about-content__item-title {
      margin-left: -80px; } }

.about-content__item-title-text {
  font-size: 36px;
  font-size: clamp(22px, 4vw, 36px);
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #316099; }
  @media (min-width: 767.98px) {
    .about-content__item-title-text {
      line-height: 46px; } }

.item-card {
  grid-row: span 2;
  max-width: 380px;
  max-height: 100%;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 48px; }
  @media (min-width: 374.98px) {
    .item-card:hover {
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.4); }
      .item-card:hover .item-card__img-wrapper img {
        transform: scale(1.1); } }

.item-card__img-wrapper {
  position: relative;
  width: 100%;
  height: 132px;
  margin-bottom: 51px; }
  .item-card__img-wrapper img {
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain; }
  .item-card__img-wrapper--interest {
    height: 197px;
    margin-top: -60px; }

.item-card__heading {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 16px; }

.item-card__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 32px; }

.item-card__link-more {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  padding-right: 4px; }
  .item-card__link-more svg {
    transition: all 0.3s ease 0s; }
  .item-card__link-more:hover svg, .item-card__link-more:active svg {
    transform: translateX(10px); }

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #5a98d0;
  border-radius: 100px 0px 0px 0px; }
  @media (min-width: 374.98px) {
    .clients {
      border-radius: 200px 0px 0px 0px; } }
  @media (min-width: 767.98px) {
    .clients {
      padding-top: 96px;
      padding-bottom: 125px; } }

.clients__header {
  text-align: center;
  margin-bottom: 30px; }
  @media (min-width: 767.98px) {
    .clients__header {
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; } }
  @media (min-width: 1366px) {
    .clients__header {
      margin-bottom: 123px;
      justify-content: space-between;
      text-align: left; } }

.clients__title {
  font-size: 36px;
  font-size: clamp(24px, 3vw, 36px);
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  flex: 0 0 225px; }

.clients__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  margin: 0; }
  @media (min-width: 1366px) {
    .clients__text {
      max-width: 540px; } }

.clients-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr)); }

.clients-list__item {
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  border: 1px solid #ffffff; }
  @media (min-width: 1366px) {
    .clients-list__item {
      border: none; }
      .clients-list__item:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(2) {
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(4) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(5) {
        border-right: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(6) {
        border-right: 1px solid rgba(255, 255, 255, 0.4); }
      .clients-list__item:nth-child(7) {
        border-right: 1px solid rgba(255, 255, 255, 0.4); } }

.clients-list__item--more {
  text-transform: capitalize;
  background-color: #4e86bb; }
  .clients-list__item--more:hover {
    background-color: var(--main-color);
    cursor: pointer; }

.interesed {
  background: #5a98d0;
  position: relative;
  overflow: hidden;
  padding-top: 40px; }
  @media (min-width: 767.98px) {
    .interesed {
      padding-top: 91px; } }

.interesed__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 32px;
  padding-bottom: 36px;
  position: relative;
  z-index: 2;
  text-align: center; }
  @media (min-width: 767.98px) {
    .interesed__container {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      padding-bottom: 96px; } }
  .interesed__container:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 0;
    width: 300%;
    background-color: rgba(255, 255, 255, 0.4); }
    @media (max-width: 1366px) {
      .interesed__container:after {
        width: 80%;
        left: 0; } }

.interesed__background {
  background: #316099;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 0px 100px 0px 0px; }
  @media (min-width: 767.98px) {
    .interesed__background {
      left: -96px;
      border-radius: 0px 200px 0px 0px; } }

.interesed__title {
  font-size: 36px;
  font-size: clamp(24px, 3vw, 36px);
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff; }

.interesed__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6; }

.interesed__btn {
  width: 220px;
  min-height: 56px;
  background: #5a98d0;
  justify-self: center;
  align-self: center; }
  @media (min-width: 767.98px) {
    .interesed__btn {
      grid-row: 1/3;
      grid-column: -1/-2; } }

.contact-page .interesed {
  background: #ffffff; }

.footer {
  background: #5a98d0;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 767.98px) {
    .footer {
      padding-top: 96px;
      padding-bottom: 64px; } }

.footer__background {
  background: #316099;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  z-index: 1; }
  @media (min-width: 767.98px) {
    .footer__background {
      left: -96px; } }

.footer__container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px; }
  @media (min-width: 1366px) {
    .footer__container {
      gap: 77px;
      grid-template-columns: 300px -webkit-max-content -webkit-max-content;
      grid-template-columns: 300px max-content max-content; } }

.footer-contacts {
  margin-right: 60px; }
  @media (min-width: 1366px) {
    .footer-contacts {
      margin-right: 23px; } }

.footer-contacts__logo {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  justify-content: center; }
  .footer-contacts__logo svg {
    margin-right: 15px; }
  @media (min-width: 767.98px) {
    .footer-contacts__logo {
      justify-content: flex-start; } }

.footer-contacts__menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px; }

.footer-contacts__item-title {
  flex: 0 1 10%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: bold; }

.footer-contacts__item-desc {
  flex: 1 1 90%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 400; }

.footer__manu-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 34px;
  text-align: center; }
  @media (min-width: 767.98px) {
    .footer__manu-title {
      text-align: left; } }

.footer__menu-item {
  margin-bottom: 18px; }
  .footer__menu-item:last-child {
    margin-bottom: 0; }

.footer__menu-link {
  color: #ffffff;
  font-weight: 400;
  font-family: "Gilroy", "Arial", sans-serif; }

.contact-page .footer {
  background: #ffffff; }

.contact-promo {
  padding: 50px;
  background: var(--main-color) url("../img/contact-us-background.jpg") no-repeat;
  background-size: cover; }

.contact-promo__container {
  text-align: center; }

.contact-promo__title {
  font-size: clamp(24px, 4vw, 44px);
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #ffffff; }

.contact-promo__text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  vertical-align: middle;
  max-width: 780px; }

.contacs {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 374.98px) {
    .contacs {
      padding-top: 57px;
      padding-bottom: 96px; } }

.contact-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  row-gap: 30px; }
  @media (min-width: 940px) {
    .contact-content {
      grid-template-columns: 300px 1fr;
      -moz-column-gap: 88px;
           column-gap: 88px;
      row-gap: 96px; } }

.info-column__img-wrapper {
  width: 100%;
  height: 181px;
  position: relative; }
  .info-column__img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain; }

.info-column__item {
  margin-bottom: 40px; }
  .info-column__item:last-child {
    margin-bottom: 0; }

.info-column__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 24px; }

.info-column__desc {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  opacity: 0.6;
  margin-bottom: 16px; }

.info-column__desc--phone {
  padding-left: 40px;
  background: url("../img/icon-phone.svg") left center no-repeat; }
  .info-column__desc--phone a {
    color: var(--main-color);
    text-decoration: none; }

.info-column__desc--www {
  padding-left: 40px;
  background: url("../img/icon-globe.svg") left center no-repeat; }

.info-column__desc--mail {
  padding-left: 40px;
  background: url("../img/icon-mail.svg") left center no-repeat; }

@media (max-width: 767.98px) {
  .contact-form {
    order: -1; } }

.contact-form__body {
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 15px; }
  @media (min-width: 374.98px) {
    .contact-form__body {
      padding: 56px; } }

.contact-form__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 15px; }
  @media (min-width: 374.98px) {
    .contact-form__title {
      margin-bottom: 48px; } }

.contact-form__label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  opacity: 0.8;
  display: block;
  width: 100%;
  margin-bottom: 8px; }

.contact-form__input {
  border: 1px solid rgba(53, 110, 173, 0.4);
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
  margin-bottom: 15px; }
  @media (min-width: 374.98px) {
    .contact-form__input {
      margin-bottom: 32px;
      padding: 21px 42px; } }
  .contact-form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2; }
  .contact-form__input::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2; }
  .contact-form__input[name="name-field"] {
    text-transform: capitalize; }

.contact-form__comment {
  resize: none;
  border: 1px solid rgba(53, 110, 173, 0.4);
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  padding: 21px 42px;
  min-height: 144px;
  margin-bottom: 20px; }
  @media (min-width: 374.98px) {
    .contact-form__comment {
      margin-bottom: 72px; } }
  .contact-form__comment::-moz-placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2; }
  .contact-form__comment::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2; }

.contact-form__btn {
  background: #5a98d0;
  width: 100%;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  min-height: 50px;
  text-transform: uppercase; }
  @media (min-width: 374.98px) {
    .contact-form__btn {
      min-height: 72px; } }

.contact-content__map-wrapper {
  grid-column: 1/-1;
  max-width: 100%;
  position: relative;
  height: 320px; }
  .contact-content__map-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain; }
  @media (min-width: 767.98px) {
    .contact-content__map-wrapper {
      height: 480px; } }

.contact-modal {
  font-family: "Gilroy", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 63, 104, 0.8);
  z-index: -1;
  display: grid;
  grid-template-columns: minmax(320px, 540px);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease 0s; }
  .contact-modal--open {
    opacity: 1;
    visibility: visible;
    z-index: 20;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }

.contact-form {
  background: #ffffff; }
  .contact-form--error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s; }

.feedback-done {
  font-family: "Gilroy", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 63, 104, 0.2);
  z-index: -1;
  display: grid;
  grid-template-columns: minmax(300px, 540px);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease 0s; }
  .feedback-done--open {
    opacity: 1;
    visibility: visible;
    z-index: 30; }

.feedback-done__body {
  background: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 50px 0 white; }

.feedback-done__title {
  text-align: center;
  padding: 50px;
  color: white;
  font-size: clamp(30px, 4vw, 46px); }
